
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#wrapper {
    position: relative;
    min-height: 150vh;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, white, #c3b4f7);
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

.fixed_heading {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    color: white;
    background-color: teal;
    z-index: 1000;
    padding: 20px;
    font-weight: bold;

    animation: fadeIn 1.5s ease-out;
}

.container {
    position: relative;
    z-index: 1;
    color: #5E5E5E;
    margin-left: 15px;
    margin-top: 150px;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(137, 180, 192, 0.7);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(137, 180, 192, 0.9);
}

h3 {
    display: block;
    width: 80%; 
    margin: 0; 
}

h2 {
    margin: 0;
}

.poem {
    color: rgb(3, 145, 145);
    font-style: italic;
    transition: transform 0.3s ease-in-out;
}

.poem:hover, .poem:active {
    cursor: url('moon15.png') 10 10, auto;
    transform: scale(1.02);
}

#you {
    color: rgb(92, 8, 24);
    text-decoration: underline dotted;
    font-weight: bolder;
}

#big {
    color: rgb(4, 100, 100);
    transition: transform 0.3s ease-in-out;
}

#big:hover, #big:active {
    cursor: url('moon15.png') 10 10, auto;
    transform: scale(1.02);
}

.container h2, .container h3 {
    margin: 5px;
}

p{
    font-style: italic;
    display: inline;
}


.normb{
    color: white;
    border: none;
    border-radius: 8px;
    background-color: teal;
    font-size: 25px;
    padding: 15px 30px;
    width: fit-content;
}

button:hover {
    cursor: url('heart15.png') 10 10, auto;
}


@media (max-width: 768px) {
    button {
        padding: 12px 25px;
        font-size: 18px;
    }

    h3 {
        font-size: 1.4em;
    }
}




