
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 150vh;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
}



#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, white, #c3b4f7);
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

.fixed_heading {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    color: white;
    background-color: teal;
    z-index: 1000;
    padding: 20px;
    font-weight: bold;

    animation: fadeIn 1.5s ease-out;
}

#more {
    color: #5E5E5E;
    position: relative;
    z-index: 2;
    margin-left: 25px;
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(137, 180, 192, 0.7);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(137, 180, 192, 0.9);
}

#noback {
    padding-top: 0;
    margin: 0;
    color: #5E5E5E;;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    margin-bottom: 0;
}


.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

button {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: teal;
    font-size: 20px;
    padding: 15px 30px;
    width: fit-content;
    position: relative;
    z-index: 2;
}


button:hover {
    cursor: url('heart15.png') 10 10, auto;
}


@media (max-width: 768px) {
    button {
        padding: 12px 25px;
        font-size: 18px;
    }
}

.fm {
    margin-top: 20px;
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 10px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;   
    transition: transform 0.3s ease-in-out;
    padding: 12px;
    margin-top: 15px;
    flex: 0 1 280px;
}

.card:hover, .card:active {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    cursor: url('moon15.png') 10 10, auto;
}

.card-content {
    padding: 15px;
}

.date {
    font-size: 1em;
    color: #888;
    margin-bottom: 10px;
}

.title {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/*.card-image {
    width: 100%;
    overflow: hidden;
}*/

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}

.description {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
    padding: 15px;
}

.description p {
    font-style: italic;
    display: inline;
}

.future {
    position: relative;
    z-index: 2;
    font-style: italic;
    margin-left: 25px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .card {
        max-width: 100%;
    }

    .title {
        font-size: 1.1em;
    }

    .description {
        font-size: 0.9em;
    }

    .button-container {
        flex-direction: column;
    }

}

